---
sidebar_position: 7
---

# 7. How do I get my server/bot verified?

We do not currently offer any means to verify servers or bots.

If you have a compelling case (for example, you own a server for a large open source project), please ask for @insert in [the Revolt Lounge](https://rvlt.gg/Testers).
