---
sidebar_position: 7
---

# 7. How to be verified?

We do not currently offer any means to verify servers or bots.

If you have a compelling case, for example a large open source project, please ask for [@insert in the lounge](https://rvlt.gg/Testers).
