---
sidebar_position: 7
---

# 7. How do I get my server/bot verified?

Currently, you can only apply to verify servers given that you have a valid reason to believe verification is necessary for your community. Verification is intended to provide protection for server owners from copy cats and to provide authenticity to users as such we are not just giving it out to anyone because that would defeat the purpose.

However if you would like to get a server verified, you should satisfy one of the following criteria:

- Official community for a well-established open source project
- Official community for any other well-established product, service, or person
- Large and active distinct pre-existing community

  Distinct means the community is unique and well-known (& has an active presence) off platform.
  This means we are not currently verifying generic servers that centre around a topic unless if it meets one of the first two criteria.
  Though in special circumstances, well known on platform communities may also be considered.

Server verification also comes with a vanity invite, so please have one ready if you want to apply. To apply, drop an email at [contact@revolt.chat](mailto:contact@revolt.chat).

We also periodically prune verification from servers that have fallen into disrepair and / or otherwise are no longer active.
