---
sidebar_position: 7
---

# 7. How do I get my server/bot verified?

We do not currently offer any means to verify bots.

However if you would like to get a server verified, you should satisfy one of the following criteria:

- Official community for an open source project (these are fast tracked)
- Official community for any other well-established product, service, or person
- Large pre-existing community

Server verification also comes with a vanity invite, so please have one ready if you want to apply.

To apply, just drop an email at [support@revolt.chat][mailto:support@revolt.chat] or [ask @insert in Lounge](https://rvlt.gg/Testers).
